.center {
  display: flex;
  justify-content: center;
  width: 100%;
  height: 100vh;
  align-items: center;
}

.left {
  position: relative;
  width: 20vw;
  height: 30vw;
  border: 2px solid gray;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  border-radius: 10px;
}

.스마트배관공 {
  position: absolute;
  top: 5vw;
  font-weight: 700;
  font-size: 2vw;
}

.관리자용 {
  position: absolute;
  top: 7.5vw;
  font-weight: 100;
  font-size: 1.5vw;
}

.아이디 {
  position: absolute;
  font-size: 1vw;
  top: 15vw;
  width: 12vw;
  border: 1px solid gray;
  border-radius: 5px;
  height: 2vw;
  text-align: center;
}

.로그인 {
  position: absolute;
  right: 3.7vw;
  top: 25vw;
  background-color: #79b7ff;
  align-items: center;
  text-align: center;
  display: flex;
  justify-content: center;
  width: 12vw;
  height: 2vw;
  font-size: 1.5vw;
  border: 1px solid white;
  border-radius: 5px;
  color: white;
}
